.main{
    position: relative;
    left: 11%;
    top: 80px;
    width: 89%;
   

    
}
.not{
    position: relative;
    left: 6%;
    top: 80px;
    width: 94%;
   


}
.chipsContainer
{
   
    padding: 5px;
    margin-bottom: 5px;
}
.data-from-Youtube{
    
    position: fixed;
    top: 18%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 81.5vh;
    width: 89%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.data-from-Youtube1{
    
    position: fixed;
    top: 18%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 81.5vh;
    width: 94%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 500px) {

    .main{
        position: fixed;
        left: 0;
        right: 0;
        top: 8%;
        width: 100%;
     
        overflow-y: hidden;
        overflow-x: scroll;

        
    
        
    }
    .data-from-Youtube{
    
        position: fixed;
        top: 14%;
        overflow-y: 0;
        overflow-x: 0;
        height: 100%;
        width: 99%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
       
    }
}